<!DOCTYPE html>
<html>
<head>
  <title>Odot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if request.path == '/todo_lists' %>
    <div class="header">
      <span>Best Todo Maker Ever</span>
    </div>
  <% else %>
    <div class="header">
      <a href="/todo_lists">Back Home</a>
    </div>
  <% end %>
<%= yield %>

</body>
</html>
